<li><a href="https://github.com/MDendura"><i class="fa fa-github"></i>GitHub</a></li>
<li><a href="https://www.linkedin.com/in/mjdendura"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
<li><a href="https://twitter.com/MDendura"><i class="fa fa-twitter"></i>Twitter</a></li>
<li><a href="https://www.instagram.com/mjdendura"><i class="fa fa-instagram"></i>Instagram</a></li>
<li><a href="http://steamcommunity.com/id/dendie"><i class="fa fa-steam"></i>Steam</a></li>